* {
  box-sizing: border-box;
}

:root{
  --light: #fff;
  
}

body {
  margin: 0;
  padding: 20px;
  /* background: hotpink; */
}

.header {
  color: var(--light);
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1613820070607-ef1d3ccc07f9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

#myself{
  width: 150px;
  height: 200px;

}

.water {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  height: 150px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 20px;
  
}

header nav a {
  padding-right: 10px;
  text-decoration: none;
  color: var(--light);
}

.padding{
  padding: 30px;
}

#aboutme{
    display: flex;
}

h2{
  min-width: 10vw;
}

#work {
  display: flex;
  margin-top: 2%;
  flex-direction: row;
}

.card {
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.wrapper{
display:flex;
flex-direction: column;
width: 35%;
}

.subwrapper{
  display:flex;
  flex-direction: row;
  width: 30vw;
}

.hater{
  display: flex;
  flex-direction: row;
  width: 30vw;
}
.card header {
  padding: 20px;
  background: #1d3d5c;
  color: #fff;
  border-radius: 10px;
  margin: 5px;
  
}

.card img {
  min-width: 150px;
  max-width: 200px;
  max-height: 150px;
}

.vl{
  border-left: 4px solid darkblue;
  padding-left: 20px;
}

#resume{
  display: flex;
  margin-top: 2%;
}

#contactme{
  display: flex;
  flex-direction:row;
  margin-top: 2%;
}

footer{
  background-color:lightblue;
  padding: 30px;
  text-align: center;
}

/* Tablets  */
@media screen and (max-width: 992px) {
    header, .card, nav {
    flex-direction: column;
      background-color: green;
    }
  }
  
/* Large smartphones   */
@media screen and (max-width: 768px) {
    .wrapper, nav{
      width:100%;
      flex-direction: column;
    }
  } 
